# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Adriano D'Alessandro
name: Adriano D'Alessandro
position: PhD Candidate (Computer Science)
email: adrian.c.dalessandro@gmail.com
description: I’m a computer vision researcher and PhD candidate living in Vancouver. My work focuses on object counting with limited data, and lately, I’ve been diving into using synthetic data from latent diffusion models to train counting models. I’m also into things like plant agriculture and biodiversity—basically, anywhere counting and nature intersect in interesting ways.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://dalessandro.dev/" # the base hostname & protocol for your site, e.g. http://example.com
# twitter_username: KeunhongP
github_username: adrian-dalessandro
google_scholar: FvPiYsEAAAAJ
bsky_username: adrian-dalessandro.bsky.social
# google_analytics: G-MFWSBLRKG0

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag

sass:
  style: compact

collections:
  posts:
    output: true # Ensures blog posts are generated as individual pages

collections:
  datasets:
    output: true # Enables individual pages for each dataset
    permalink: /datasets/:name/ # Custom URL structure for dataset pages
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
