<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{ site.name }}</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->

  <link href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@700&family=Noto+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="{{ '/css/fontawesome.all.min.css' | relative_url }}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css" rel="stylesheet">
  <link href="{{ '/css/bulma.min.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/css/index.css' | relative_url }}" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script defer src="{{ '/js/fontawesome.all.min.js' | relative_url }}"></script>
  <script src="{{ '/js/index.js' | relative_url }}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const navbarBurgers = Array.from(document.querySelectorAll(".navbar-burger"));
      navbarBurgers.forEach((burger) => {
        burger.addEventListener("click", () => {
          const target = document.querySelector(".navbar-menu");
          burger.classList.toggle("is-active");
          target.classList.toggle("is-active");
        });
      });
    });
  </script>
</head>

<body>
  
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start" style="flex-grow: 1; justify-content: center;">
        <a class="navbar-item" href="{{ '/' | relative_url }}">
          <span class="icon">
            <i class="fas fa-home"></i>
          </span>
          <span>Home</span>
        </a>
        <a class="navbar-item" href="{{ '/resume.html' | relative_url }}">
          <span class="icon">
            <i class="fas fa-file-alt"></i>
          </span>
          <span>Resume</span>
        </a>
        <a class="navbar-item" href="{{ '/blog/' | relative_url }}">
          <span class="icon"><i class="fas fa-pencil-alt"></i></span>
          <span>Blog</span>
        </a>
        <a class="navbar-item" href="{{ '/datasets/' | relative_url }}">
          <span class="icon"><i class="fas fa-database"></i>
          </span>
          <span>Datasets</span>
        </a>
      </div>
    </div>
  </nav>

<!-- End nav bar -->
<main>
    {{ content }}
</main>
<!-- Start footer section -->
<footer class="footer">
    <div class="container">
      <div class="content footer-links has-text-centered">
        <a href="mailto:{{ site.email }}">
          <i class="fas fa-envelope"></i>
        </a>
        <a class="external-link" href="https://github.com/{{ site.github_username }}">
          <i class="fab fa-github"></i>
        </a>
        <a class="external-link" href="https://scholar.google.com/citations?user={{ site.google_scholar }}">
          <i class="ai ai-google-scholar"></i>
        </a>
        <a class="external-link" href="https://bsky.app/profile/{{ site.bsky_username }}">
          <i class="fab fa-bluesky"></i>
        </a>
      </div>
      <div class="columns is-centered has-text-centered">
        <div class="column is-8">
          <div class="content">
            <p>
              Adapted from <a href="https://github.com/keunhong/keunhong.github.io">this template</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>